//Fonts

$site-fonts: "Lato", sans-serif;

//Viewports
$mobile-width: 320px;
$tablet-width: 880px;
$desktop-width: 1280px;

// Colors global

$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #3E9CDC;

// Colors special
$header-bg: rgba(16, 16, 29, 0.9);
$footer-bg: #3D4050;
$border-btn: #6F6D7B;
$btn-text: #2A2B30;
$order-comment: #BBBBBB;
$special-black: #272733;
$border-ring: #286690;
$border-trumb: #42A9ED;
$trumb-hover: #0061c3;
$trumb-active: #2F98F9;
$border-trumb-hover: #D3D3D3;
$track-hover: #E5E5E5;
$border-track-hover: #9A9A9A;
$track-active: #F5F5F5;
$border-track-active: #C1C1C1;
$range-gray: #BEBEC1;
$payment-text: #C3C3C3;
$select-active: rgba(61, 64, 80, 0.85);