//Fonts

$site-fonts: "Lato", "Arial Narrow", sans-serif;

//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// Colors global

$basic-white: #ffffff;
$basic-black: #272733;
$basic-blue: #3E9CDC;

// Colors special
$header-bg: rgba(16, 16, 29, 0.9);
$footer-bg: #3D4050;
$border-btn: #6F6D7B;
$order-comment: #BBBBBB;
