.advantages-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 19px;
    }

    @media (min-width: $desktop-width) {
        font-size: 20px;
        line-height: 24px;
    }
}

.advantages-item {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    margin-left: 11px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        width: 5px;
        height: 1.5px;
        background-color: $basic-black;
        display: block;
        margin-right: 11px;
    }
}