.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 540px;
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  
    @media (min-width: $tablet-width) {
      padding: 0 30px;
      max-width: none;
    }
  
    @media (min-width: $desktop-width) {
      max-width: 1232px;
      padding: 0 30px;
    }
}