.order {
    background: url("../assets/img/bg-img.jpg") no-repeat $special-black;
    padding: 30px 0;

    @media (min-width: $tablet-width) {
        padding: 60px 0;
    }

    @media (min-width: $desktop-width) {
        padding: 121px 0 151px;
    }
}

.order__title {
    color: $basic-white;
    text-transform: uppercase;
    text-align: center;
    font-family: $site-fonts;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    font-stretch: ultra-expanded;

    @media (min-width: $tablet-width) {
        font-size: 28px;
        line-height: 36px;
    }

    @media (min-width: $desktop-width) {
        font-size: 36px;
        line-height: 43px;
    }
}

.order__comment {
    color: $order-comment;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;

    @media (min-width: $tablet-width) {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 19px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 80px;
        font-size: 18px;
        line-height: 22px;
    }
}