.page {
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  font-family: $site-fonts;
}

.page__body {
  display: -ms-grid;  
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
    align-content: start;
  min-height: 100%;
  margin: 0;
  padding: 0;
  counter-reset: section;
  overflow-y: visible;
}
