.page-header {
    width: 100%;
    background-color: $header-bg;
    padding: 15px 0;
    position: fixed;

    @media (min-width: $desktop-width) {
        padding: 30px 0;
    }
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo .logo-img {
    width: 100px;
    height: 18px;

    @media (min-width: $tablet-width) {
        width: 200px;
        height: 36px;
    }

    @media (min-width: $desktop-width) {
        width: 250px;
        height: 36px;
    }
}

.page-header__toggle {
    width: 30px;
    background-color: $basic-blue;
    align-self: flex-start;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.page--header__toggle--close {
    height: 30px; 
    box-shadow: none;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.page--header__toggle--open {
    border: 1px solid $basic-blue;
    height: 4px;
    box-shadow: 
        0px 8px 0px 0px $basic-blue,
        0px 16px 0px 0px $basic-blue;
}