.payment-methods {
    color: $payment-text;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 0;
        padding: 0 42px 0 40px;
        border-left: 1px solid $payment-text;
        border-right: 1px solid $payment-text;
    }
}

.payment-methods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    @media (min-width: $tablet-width) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
}

.payment-methods__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 10px;
    }

    &--qiwi::before {
        background: url("../assets/img/qiwi-icon.svg") no-repeat;
    }

    &--yandex::before {
        background: url("../assets/img/yandex-icon.svg") no-repeat;
    }

    &--webmoney::before {
        background: url("../assets/img/web-money-icon.svg") no-repeat;
    }

    &:last-child {
        @media (min-width: $tablet-width) {
            margin-right: 0;
        }
    }

    @media (min-width: $tablet-width) {
        margin-bottom: 0;
        margin-right: 38px;
    }
}